<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	
	<title>spring_blog</title>
	
	<meta charset="UTF-8">
	<meta name="viewport" content="initial-scale=1, width=device-width">

</head>
<body>
	
	<h1>Edit user data</h1>
	<form th:action="@{/post/__${id}__/edit}" th:method="post" th:object="${post}" >
		
		<label for="title">Title for [<span th:text="${id}"></span>] </label>
		<input th:field="*{title}" id="title" name="title" type="text"
		       th:placeholder="${post.getTitle()}"/>
		<br/>
		<label for="description">Description</label>
		<input th:field="*{description}" id="description" name="description"
		       type="text" th:placeholder="${post.getDescription()}">
		<br/>
		<label for="content">Content</label>
		<textarea th:field="*{content}"  id="content" name="content"
		          th:placeholder="${post.getContent()}"></textarea>
		<br/>
		<input type="submit" />
	</form>

</body>
</html>