<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<!--
    Creator: Deshawn Marquis, Williams
    Github Profile: https://github.com/MarquisTheCoder
    Date Created: 11/10/22
    Time Created: 2:05 PM
    File Name: post.html
    -->
<head>
	
	<title>spring_blog</title>
	
	<meta charset="UTF-8">
	<meta name="viewport" content="initial-scale=1, width=device-width">

</head>
<body>
<!-- ... -->
<div sec:authorize="isAuthenticated()">
	This content is only shown to authenticated users.
	
	User ID: <span th:text="${#authentication.principal.id}"/>
	Username: <span th:text="${#authentication.principal.username}"/>
	Email: <span th:text="${#authentication.principal.email}"/>
</div>
	<form th:action="@{/logout}" th:method="post">
		<button class="btn-link btn" style="margin-top: 8px">Logout</button>
	</form>
		<section>
				<section class="section-post--generation">
					
					<div th:each="post: ${all_post}" style="color: white;">
						<div style="border: black 1px solid; width: 400px; height: auto; margin-top: 15px;">
							<div style="width: 100%; height: 100%; background-color: #2C3C44; color: white;">
								<p th:text="${post.getUser().getEmail()}"></p>
							</div>
							<div style="color: black;">
								<ul>
								
								</ul>
								<p th:text="${post.getTitle()}"></p>
								<p th:text="${post.getDescription()}"></p>
								<p th:text="${post.getContent()}"></p>
							</div>
						</div>
						
						
					</div>
				</section>
		</section>

</body>
</html>